<div
  data-subsection
  data-section-id="{{ id }}"
  data-section-type="video-section"
  class="promo-video video-parent-section"
  data-aos="background-media-text__animation">
    <div class="background-media-text__video">
      {% include 'video-div', section_id: id, url: url %}
    </div>
</div>
